.about-me {
  padding-top: 80px;
  margin-bottom: 100px;

  @media (max-width: $md) {
    padding-top: 60px;
    margin-bottom: 60px;
  }
}

.about-me__photo {
  margin-right: 75px;

  @media (max-width: $md) {
    margin-right: 0;
    max-width: 280px;
    // padding-left: 20px;
  }
}

.about-me__container {
  display: flex;
  justify-content: center;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }
}

.about-me__desc {
  padding-top: 52px;

  @media (max-width: $md) {
    padding-top: 40px;
    // padding-left: 64px;
  }

  @media (max-width: $sm) {
    padding-left: 27px;
  }
}

.about-me__title-1 {
  display: none;

  @media (max-width: $md) {
    display: block;
    margin-bottom: 35px;
    text-align: center;
  }
}

.about-me__title-2 {
  margin-bottom: 35px;

  @media (max-width: $md) {
    display: none;
  }
}

.about-me__info {
  font-family: $ff-main;
  font-style: italic;
  font-weight: 400;
  font-size: $fz-main;
  line-height: 20px;
  color: $c-main;
  margin-bottom: 70px;
  
  &--1 {
    display: none;

    @media (max-width: $md) {
      display: block;
    }
  }

  &--2 {
    @media (max-width: $md) {
      display: none;
    }
  }
}

.about-me__list {
  max-width: 654px;

  @media (max-width: $md) {
    max-width: 100%;
  }
}

.about-me__item {
  padding-bottom: 20px;
  padding-left: 32px;
  position: relative;

  @media (max-width: $md) {
    padding-left: 64px;
  }

  @media (max-width: $sm) {
    padding-left: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: $c-black;

    @media (max-width: $md) {
      left: 32px;
    }

    @media (max-width: $sm) {
      width: 15px;
      left: -22px;
    }
  }
}

.about-me__item br {
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}
