.projects {
  padding-bottom: 50px;
}

.projects__title {
  text-align: center;
  margin-bottom: 67px;

  @media (max-width: $md) {
    margin-bottom: 75px;
  }

  &:after {
    bottom: -25px;
    left: 50%;
    transform: translate(-94px);

    @media (max-width: $md) {
      transform: translate(-98px);
    }
  }
}

.projects__desc-text {
  margin-bottom: 60px;
}

.projects__card {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;

  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 51px;
  }
}

.projects__desc {
  width: 100%;
}

.projects__photo {
  margin-right: 100px;
    flex-shrink: 0;
  position: relative;

  @media (max-width: $md) {
    margin-right: 0;
    margin-bottom: 58px;
  }
}

.projects__photo-img {
  position: absolute;
  bottom: -27px;
  right: -19px;
  box-shadow: 0 -10px 0 0 $c-grey,
              -10px -10px 0 0 $c-grey;
}

.projects__name-1 {
  display: none;

  @media (max-width: $md) {
    display: block;
    margin-bottom: 30px;
  }
}

.projects__name-2 {
  margin-bottom: 30px;

  @media (max-width: $md) {
    display: none;
  }
}

.projects__text {
  min-height: 100px;
  margin-bottom: 30px;

  @media (max-width: $md) {
   max-width: 100%;
   padding-left: 17px;
   text-align: center;
  }

  @media (max-width: $sm) {
    padding-left: 0;
  }
}

.projects__wrap-btn {
  @media (max-width: $md) {
    display: flex;
    justify-content: center;
  }
}
