// ////////////////////////////////////////// OpenSans
@font-face {
  font-weight: 400;
  font-family: OpenSans;
  font-style: normal;

  font-display: swap;
  src: url(../font/OpenSans/OpenSans-Regular.woff2),
  url(../font/OpenSans/OpenSans-Regular.woff);
}

// ////////////////////////////////////////// Montserrat
@font-face {
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-Medium.woff2),
  url(../font/Montserrat/Montserrat-Medium.woff);
}
