.btn {
  min-width: 187px;
  padding: 13px 0;
  border: 2px solid $c-link;
  font-family: $ff-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: $c-link;
  text-align: center;

  @media (max-width: $sm) {
    min-width: 100%;
  }

  &:hover {
    background-color: $c-link-hover;
    border-color: $c-link-hover;
    color: $c-white;
  }

  &:active {
    background-color: $c-link-active;
    border-color: $c-link-active;
    color: $c-white;
  }
}
